documentazione/Flow/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Data Gathering (mongoDB version)","disabled":false,"info":""},{"id":"5f244b8328648dcf","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/sensors","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":740,"y":100,"wires":[]},{"id":"94a785c31baddfad","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/sensors","qos":"2","datatype":"auto-detect","broker":"654adbefc93338fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":420,"wires":[["660108ac0e2fcbe5"]]},{"id":"eb66a66d3a2888a2","type":"mongodb in","z":"f6f2187d.f17ca8","mongodb":"fa409388ce337d28","name":"rugby360@sensor_data-gathering","collection":"simulations_20240827_154742","operation":"find","x":220,"y":100,"wires":[["19a3d7378ed91fec"]],"info":"{}"},{"id":"inject_node_id","type":"inject","z":"f6f2187d.f17ca8","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":130,"y":60,"wires":[["eb66a66d3a2888a2"]]},{"id":"19a3d7378ed91fec","type":"function","z":"f6f2187d.f17ca8","name":"input_data-formatting","func":"let data = msg.payload;\n\n// Create an array to hold the formatted data\nlet formattedData = data.map(doc => {\n    // Base object with common fields\n    let formattedDoc = {\n        _id: doc._id,\n        player_id: doc.player_id,\n        role: doc.role,\n        heart_rate: doc.heart_rate.heart_rate,\n        body_temperature: doc.temperature.body_temperature,\n        systolic: doc.blood_pressure.systolic,\n        diastolic: doc.blood_pressure.diastolic,\n        calories_consumed: doc.calories_consumed.calories,\n        gps_x: doc.gps.x,\n        gps_y: doc.gps.y,\n        velocity: doc.gps.velocity,\n        top_speed: doc.gps.top_speed,\n        impact_count: doc.impacts.impact_count,\n        impact_force: doc.impacts.impact_force,\n        timestamp: doc.timestamp,\n        elapsed_time: doc.elapsed_time,\n        impact_to_play_ratio: doc.impact_to_play_ratio.ratio,\n        velocity_variability: doc.velocity_variability.variability,\n        max_heart_rate: doc.max_heart_rate.max_heart_rate,\n        severity_index: doc.impact_severity_index.severity_index\n    };\n    return formattedDoc;\n});\n\nmsg.payload = formattedData;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":100,"wires":[["5f244b8328648dcf"]]},{"id":"660108ac0e2fcbe5","type":"split","z":"f6f2187d.f17ca8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":350,"y":420,"wires":[["b526137a403efe4d"]]},{"id":"b526137a403efe4d","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.player_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"neq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":470,"y":420,"wires":[["012f977794c74952"],["b412b36636dd1ffe"],["ae9f78113b4d22e3"],["2e5b7108fd243068"],["bd5abfdfc15a8c28"],["052efdbde8209017"],["57114cc573f562f3"],["23e512c47c8906db"],["371bcc57936fdb56"],["ae1bfe134a2c8064"],["e9aa46665b72e11d"],["14210c33873c5ec5"],["ef1848e0410f9e5a"],["54e50b0f2ff8cd04"],["1cb588f4b12e080d"]]},{"id":"012f977794c74952","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/1/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":160,"wires":[]},{"id":"2e5b7108fd243068","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/4/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":280,"wires":[]},{"id":"23e512c47c8906db","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/8/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":440,"wires":[]},{"id":"e9aa46665b72e11d","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/11/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":560,"wires":[]},{"id":"57114cc573f562f3","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/7/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":400,"wires":[]},{"id":"14210c33873c5ec5","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/12/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":600,"wires":[]},{"id":"371bcc57936fdb56","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/9/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":480,"wires":[]},{"id":"052efdbde8209017","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/6/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":360,"wires":[]},{"id":"bd5abfdfc15a8c28","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/5/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":320,"wires":[]},{"id":"ae1bfe134a2c8064","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/10/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":520,"wires":[]},{"id":"ae9f78113b4d22e3","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/3/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":240,"wires":[]},{"id":"b412b36636dd1ffe","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/2/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":200,"wires":[]},{"id":"ef1848e0410f9e5a","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/13/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":640,"wires":[]},{"id":"54e50b0f2ff8cd04","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/14/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":680,"wires":[]},{"id":"1cb588f4b12e080d","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"rugby/players/15/sensors_data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"654adbefc93338fc","x":770,"y":720,"wires":[]},{"id":"654adbefc93338fc","type":"mqtt-broker","name":"","broker":"mqtt://mosquitto:1883","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"fa409388ce337d28","type":"mongodb","hostname":"rugby360_mongodb","topology":"direct","connectOptions":"","port":"27017","db":"rugbyDB","name":""}]