RUGBY360_doc/Flow/flows.json
[
    {
        "id": "f29bd3c492819409",
        "type": "tab",
        "label": "Data Gathering (mongoDB version)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6e25c438e6fed382",
        "type": "tab",
        "label": "Flow 1 (PLAYER)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "effb74aa3070b747",
        "type": "tab",
        "label": "Flow 2 (TEAM)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acbb8b19f36933fc",
        "type": "tab",
        "label": "Flow 4 (END-GAME)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "654adbefc93338fc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://mosquitto:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8ec00216363c8a91",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#bb0a1e",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#bb0a1e",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#bb0a1e",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#f31e36",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#bb0a1e",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "RUGBY-360",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "31244ff564c00c31",
        "type": "ui_tab",
        "name": "Rugby-360 - [LIVE] Player Overview",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f4d1e9444dd64511",
        "type": "ui_tab",
        "name": "Rugby-360 - [LIVE] Team Overview",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5945d1645f1d9752",
        "type": "ui_tab",
        "name": "Rugby-360 - Post Match Stats",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7b0ea4a0077a49e2",
        "type": "ui_group",
        "name": "Player info",
        "tab": "31244ff564c00c31",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b11b91e727413e9",
        "type": "ui_group",
        "name": "Player analysis - GPS",
        "tab": "31244ff564c00c31",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7f5f6ff18cd6928",
        "type": "ui_group",
        "name": "Player analysis - Biometrics",
        "tab": "31244ff564c00c31",
        "order": 3,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "97f34b737c0b33dd",
        "type": "ui_group",
        "name": "Team info",
        "tab": "f4d1e9444dd64511",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2e82b8aba30acd6",
        "type": "ui_group",
        "name": "Team data",
        "tab": "f4d1e9444dd64511",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "914464c7227e1a69",
        "type": "ui_group",
        "name": "TEAM INFO - Post match data analysis",
        "tab": "5945d1645f1d9752",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b55eb95bc7cccf8",
        "type": "ui_group",
        "name": "TEAM INFO - Concussions",
        "tab": "5945d1645f1d9752",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa409388ce337d28",
        "type": "mongodb",
        "hostname": "rugby360_mongodb",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "rugbyDB",
        "name": ""
    },
    {
        "id": "bc1859be224fbc82",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "d3c9012784911afc",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "29d9b1ad3160f0b6",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "fee44035a6c44454",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "f02851cbe4d30507",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "8117c4c05298c119",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "c7a75f93696a5c04",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "84fbe69e1efd5514",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f36a353ce54c7d4",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "a47ab4761e9d0ec1",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "1c0ce5968c0acb77",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "f16f6625567fb70f",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "58218ded3a083ad5",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "c1477a46f5019076",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "f941bfe67d67f77b",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "dc27cfdbc47ebb8b",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e31542e90ff0cb4",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "10d058eb40e1e4a5",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "1314b5fb74e12071",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "400f8931696ab0ff",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "b9200320a4033575",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "b86234a2bcdb3cc6",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "caf70b6c88c6aec8",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "b7815710e325955f",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "446a6874222d2173",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "f36bd07e027c4a5f",
        "type": "ui_spacer",
        "z": "effb74aa3070b747",
        "name": "spacer",
        "group": "97f34b737c0b33dd",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "52f995780f51bb3b",
        "type": "ui_spacer",
        "z": "6e25c438e6fed382",
        "name": "spacer",
        "group": "7b0ea4a0077a49e2",
        "order": 5,
        "width": 7,
        "height": 1
    },
    {
        "id": "71b6044e7c52a911",
        "type": "ui_spacer",
        "z": "6e25c438e6fed382",
        "name": "spacer",
        "group": "7b0ea4a0077a49e2",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "79662a0ab5c9dfdf",
        "type": "ui_spacer",
        "z": "6e25c438e6fed382",
        "name": "spacer",
        "group": "3b11b91e727413e9",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "1178ec14a019a43a",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/sensors",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "897c02e285135e7b",
        "type": "mqtt in",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "f515b10e1dd64dd3"
            ]
        ]
    },
    {
        "id": "40aac05e81b7bc12",
        "type": "mongodb in",
        "z": "f29bd3c492819409",
        "mongodb": "fa409388ce337d28",
        "name": "rugby360@sensor_data-gathering",
        "collection": "simulations_20240827_154742",
        "operation": "find",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "7cddbb3ee821c0d2"
            ]
        ],
        "info": "{}"
    },
    {
        "id": "f1f38b587b435a29",
        "type": "inject",
        "z": "f29bd3c492819409",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "40aac05e81b7bc12"
            ]
        ]
    },
    {
        "id": "7cddbb3ee821c0d2",
        "type": "function",
        "z": "f29bd3c492819409",
        "name": "input_data-formatting",
        "func": "let data = msg.payload;\n\n// Create an array to hold the formatted data\nlet formattedData = data.map(doc => {\n    // Base object with common fields\n    let formattedDoc = {\n        _id: doc._id,\n        player_id: doc.player_id,\n        role: doc.role,\n        heart_rate: doc.heart_rate.heart_rate,\n        body_temperature: doc.temperature.body_temperature,\n        systolic: doc.blood_pressure.systolic,\n        diastolic: doc.blood_pressure.diastolic,\n        calories_consumed: doc.calories_consumed.calories,\n        gps_x: doc.gps.x,\n        gps_y: doc.gps.y,\n        velocity: doc.gps.velocity,\n        top_speed: doc.gps.top_speed,\n        impact_count: doc.impacts.impact_count,\n        impact_force: doc.impacts.impact_force,\n        timestamp: doc.timestamp,\n        elapsed_time: doc.elapsed_time,\n        impact_to_play_ratio: doc.impact_to_play_ratio.ratio,\n        velocity_variability: doc.velocity_variability.variability,\n        max_heart_rate: doc.max_heart_rate.max_heart_rate,\n        severity_index: doc.impact_severity_index.severity_index\n    };\n    return formattedDoc;\n});\n\nmsg.payload = formattedData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            [
                "1178ec14a019a43a"
            ]
        ]
    },
    {
        "id": "f515b10e1dd64dd3",
        "type": "split",
        "z": "f29bd3c492819409",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "dfca8cd5b7ffd5fb"
            ]
        ]
    },
    {
        "id": "dfca8cd5b7ffd5fb",
        "type": "switch",
        "z": "f29bd3c492819409",
        "name": "",
        "property": "payload.player_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 15,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "daf675c56544fd74"
            ],
            [
                "9cea7b42d940980e"
            ],
            [
                "1b67ce8ca801c515"
            ],
            [
                "78a9c4d0d9658bee"
            ],
            [
                "ac32add5adce043d"
            ],
            [
                "2ceea73bac3ad3cf"
            ],
            [
                "7f3676ff3a1ed2f8"
            ],
            [
                "d5b32db138988e0b"
            ],
            [
                "8d8776b2a7440f63"
            ],
            [
                "2d67f4b16f50aec8"
            ],
            [
                "c533ac86bbb5edb6"
            ],
            [
                "8c9f183fee924027"
            ],
            [
                "2fc70fc1dc0030f7"
            ],
            [
                "b87e8d0c78c18bcc"
            ],
            [
                "6a1849b6ddf61b5f"
            ]
        ]
    },
    {
        "id": "daf675c56544fd74",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/1/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "78a9c4d0d9658bee",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/4/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "d5b32db138988e0b",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/8/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "c533ac86bbb5edb6",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/11/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "7f3676ff3a1ed2f8",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/7/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "8c9f183fee924027",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/12/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "8d8776b2a7440f63",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/9/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "2ceea73bac3ad3cf",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/6/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "ac32add5adce043d",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/5/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "2d67f4b16f50aec8",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/10/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "1b67ce8ca801c515",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/3/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "9cea7b42d940980e",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/2/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "2fc70fc1dc0030f7",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/13/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "b87e8d0c78c18bcc",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/14/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "6a1849b6ddf61b5f",
        "type": "mqtt out",
        "z": "f29bd3c492819409",
        "name": "",
        "topic": "rugby/players/15/sensors_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "654adbefc93338fc",
        "x": 770,
        "y": 720,
        "wires": []
    },
    {
        "id": "238161b25f0951b6",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/1/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "ba5e16b60ffcb179",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/2/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "054c1797745562ac",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/3/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "2a3e54d1f504dee4",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/4/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "8b8f8861beddf535",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/5/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "7f1ee32ad6c80cab",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/6/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "854e9053e7771082",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/7/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "3a02c329524a44ef",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/8/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "fbaa52fdd65b36b2",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/9/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "08cfa9a113deb508",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/10/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "ec5962e8796343f1",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/11/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 520,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "2ae60c497969b359",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/12/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "2cc846e117ffade3",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/13/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "ac83ca4ca0529808",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/14/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "7a048c6280445f90",
        "type": "mqtt in",
        "z": "6e25c438e6fed382",
        "name": "",
        "topic": "rugby/players/15/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 680,
        "wires": [
            [
                "90ec5621e1583916"
            ]
        ]
    },
    {
        "id": "d5f0af6556938625",
        "type": "ui_gauge",
        "z": "6e25c438e6fed382",
        "name": "HR gauge",
        "group": "3b11b91e727413e9",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "BPM",
        "format": "{{value}}",
        "min": "60",
        "max": "220",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "140",
        "seg2": "180",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "90ec5621e1583916",
        "type": "json",
        "z": "6e25c438e6fed382",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "173306722501e630",
                "57178d47f0ea830b",
                "0d23b32f8efb4f05",
                "010e46909e331c3e",
                "1a310e812f9281ad",
                "4d4f748cc46d28e1",
                "1ea169dfa941e378",
                "b90ef7de9057ce96"
            ]
        ]
    },
    {
        "id": "173306722501e630",
        "type": "function",
        "z": "6e25c438e6fed382",
        "name": "HR_extr",
        "func": "// Retrieve the flow variable 'player_topic'\nvar player_topic = flow.get('player_topic');\n\n// Ensure payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Check if the current message topic matches the player_topic\nif (msg.topic === player_topic) {\n    // Check if msg.payload is an object and has the 'heart_rate' property\n    if (msg.payload && msg.payload.heart_rate.heart_rate !== undefined) {\n        // Access the 'heart_rate' value directly\n        msg.payload = msg.payload.heart_rate.heart_rate;\n    } else {\n        // Handle case where 'heart_rate' is not present\n        msg.payload = \"Heart rate data is not available\";\n    }\n    return msg;\n} else {\n    // If the topic does not match, return null\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 220,
        "wires": [
            [
                "d5f0af6556938625",
                "31d195da3f085f63",
                "95dc90d286f67bcb"
            ]
        ]
    },
    {
        "id": "0a9ef13999d28137",
        "type": "ui_dropdown",
        "z": "6e25c438e6fed382",
        "name": "",
        "label": "Player selection",
        "tooltip": "",
        "place": "Player selection",
        "group": "7b0ea4a0077a49e2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Prop",
                "value": "rugby/players/1/sensors",
                "type": "str"
            },
            {
                "label": "Prop",
                "value": "rugby/players/2/sensors",
                "type": "str"
            },
            {
                "label": "Hooker",
                "value": "rugby/players/3/sensors",
                "type": "str"
            },
            {
                "label": "Lock",
                "value": "rugby/players/4/sensors",
                "type": "str"
            },
            {
                "label": "Lock",
                "value": "rugby/players/5/sensors",
                "type": "str"
            },
            {
                "label": "Flanker",
                "value": "rugby/players/6/sensors",
                "type": "str"
            },
            {
                "label": "Flanker",
                "value": "rugby/players/7/sensors",
                "type": "str"
            },
            {
                "label": "Number-8",
                "value": "rugby/players/8/sensors",
                "type": "str"
            },
            {
                "label": "Scrum-half",
                "value": "rugby/players/9/sensors",
                "type": "str"
            },
            {
                "label": "Fly-half",
                "value": "rugby/players/10/sensors",
                "type": "str"
            },
            {
                "label": "Center",
                "value": "rugby/players/11/sensors",
                "type": "str"
            },
            {
                "label": "Center",
                "value": "rugby/players/12/sensors",
                "type": "str"
            },
            {
                "label": "Wing",
                "value": "rugby/players/13/sensors",
                "type": "str"
            },
            {
                "label": "Wing",
                "value": "rugby/players/14/sensors",
                "type": "str"
            },
            {
                "label": "Full-back",
                "value": "rugby/players/15/sensors",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "custom-dropdown",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "8ad2e07903e1eafd"
            ]
        ]
    },
    {
        "id": "8ad2e07903e1eafd",
        "type": "change",
        "z": "6e25c438e6fed382",
        "name": "Set MQTT Topic",
        "rules": [
            {
                "t": "set",
                "p": "player_topic",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "010e46909e331c3e",
        "type": "function",
        "z": "6e25c438e6fed382",
        "name": "TIME_extr",
        "func": "// Retrieve the flow variable 'player_topic'\nvar player_topic = flow.get('player_topic');\n\n// Ensure payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Check if the current message topic matches the player_topic\nif (msg.topic === player_topic) {\n    var elapsed_time = msg.payload.elapsed_time;\n    msg.payload = `${elapsed_time} : 00`;\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 420,
        "wires": [
            [
                "bfccd10cf9d96fe9"
            ]
        ]
    },
    {
        "id": "bfccd10cf9d96fe9",
        "type": "ui_text",
        "z": "6e25c438e6fed382",
        "group": "7b0ea4a0077a49e2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "time label",
        "label": "Minute:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "57178d47f0ea830b",
        "type": "function",
        "z": "6e25c438e6fed382",
        "name": "SPEED_extr",
        "func": "// Retrieve the flow variable 'player_topic'\nvar player_topic = flow.get('player_topic');\n\n// Ensure payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Check if the current message topic matches the player_topic\nif (msg.topic === player_topic) {\n    // Check if msg.payload is an object and has the 'heart_rate' property\n    if (msg.payload && msg.payload.gps.velocity !== undefined) {\n        // Access the 'heart_rate' value directly\n        msg.payload = msg.payload.gps.velocity;\n    } else {\n        // Handle case where 'heart_rate' is not present\n        msg.payload = \"Speed data is not available\";\n    }\n    return msg;\n} else {\n    // If the topic does not match, return null\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 260,
        "wires": [
            [
                "179409a9010a9116",
                "0f25e736423a44f7"
            ]
        ]
    },
    {
        "id": "179409a9010a9116",
        "type": "ui_gauge",
        "z": "6e25c438e6fed382",
        "name": "SPD gauge",
        "group": "3b11b91e727413e9",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "Velocity",
        "label": "Km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#008fb3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 60,
        "seg2": 120,
        "diff": false,
        "className": "",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "0d23b32f8efb4f05",
        "type": "function",
        "z": "6e25c438e6fed382",
        "name": "ROLE_extr",
        "func": "// Retrieve the flow variable 'player_topic'\nvar player_topic = flow.get('player_topic');\n\n// Ensure payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Check if the current message topic matches the player_topic\nif (msg.topic === player_topic) {\n    // Check if msg.payload is an object and has the 'heart_rate' property\n    if (msg.payload && msg.payload.role !== undefined) {\n        // Access the 'heart_rate' value directly\n        msg.payload = msg.payload.role;\n    } else {\n        // Handle case where 'heart_rate' is not present\n        msg.payload = \"Role data is not available\";\n    }\n    return msg;\n} else {\n    // If the topic does not match, return null\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 380,
        "wires": [
            [
                "c6cf54e3ea44850b"
            ]
        ]
    },
    {
        "id": "c6cf54e3ea44850b",
        "type": "ui_text",
        "z": "6e25c438e6fed382",
        "group": "7b0ea4a0077a49e2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "role label",
        "label": "Role under review:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "custom-role",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "15",
        "color": "#ea3434",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "578d337a58951d14",
        "type": "ui_template",
        "z": "6e25c438e6fed382",
        "group": "7b0ea4a0077a49e2",
        "name": "CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>   \n    .nr-dashboard-cardtitle {\n        font-weight: bold;\n        text-align: center;\n    }\n    .custom-dropdown {\n        position: relative;\n        display: inline-block;\n        justify-content: center; /* Center items horizontally */\n    }\n    .custom-role {\n        text-align: left;\n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 490,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "31d195da3f085f63",
        "type": "ui_chart",
        "z": "6e25c438e6fed382",
        "name": "HR chart",
        "group": "3b11b91e727413e9",
        "order": 2,
        "width": 7,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#4c544a",
            "#d32727",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0f25e736423a44f7",
        "type": "ui_chart",
        "z": "6e25c438e6fed382",
        "name": "SPD chart",
        "group": "3b11b91e727413e9",
        "order": 4,
        "width": 7,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ee90b1",
            "#973b6c",
            "#ff7f0e",
            "#4baf8e",
            "#1e7fa9",
            "#d32727",
            "#cad345",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "33f1b801aabacc5a",
        "type": "ui_chart",
        "z": "6e25c438e6fed382",
        "name": "TEMP chart",
        "group": "a7f5f6ff18cd6928",
        "order": 2,
        "width": 11,
        "height": 6,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "36",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e2806f",
            "#cb1515",
            "#968bda",
            "#89d289",
            "#ccd54d",
            "#2845d7",
            "#94ffdf",
            "#f0952d",
            "#c86fa7"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1a310e812f9281ad",
        "type": "function",
        "z": "6e25c438e6fed382",
        "name": "TEMP_extr",
        "func": "// Retrieve the flow variable 'player_topic'\nvar player_topic = flow.get('player_topic');\n\n// Ensure payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Check if the current message topic matches the player_topic\nif (msg.topic === player_topic) {\n    // Check if msg.payload is an object and has the 'heart_rate' property\n    if (msg.payload && msg.payload.temperature.body_temperature !== undefined) {\n        // Access the 'heart_rate' value directly\n        msg.payload = msg.payload.temperature.body_temperature;\n    } else {\n        // Handle case where 'heart_rate' is not present\n        msg.payload = \"Speed data is not available\";\n    }\n    return msg;\n} else {\n    // If the topic does not match, return null\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 300,
        "wires": [
            [
                "33f1b801aabacc5a"
            ]
        ]
    },
    {
        "id": "3ae9d88f6dc33248",
        "type": "ui_chart",
        "z": "6e25c438e6fed382",
        "name": "B-PRESS chart",
        "group": "a7f5f6ff18cd6928",
        "order": 1,
        "width": 11,
        "height": 4,
        "label": "Blood Pressure",
        "chartType": "horizontalBar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "40",
        "ymax": "180",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e11414",
            "#3fabcf",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4d4f748cc46d28e1",
        "type": "function",
        "z": "6e25c438e6fed382",
        "name": "B-PRESS_exct",
        "func": "// Retrieve the flow variable 'player_topic'\nvar player_topic = flow.get('player_topic');\n\n// Ensure payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Check if the current message topic matches the player_topic\nif (msg.topic === player_topic) {\n    // Check if msg.payload is an object and has the 'blood_pressure' property\n    if (msg.payload && msg.payload.blood_pressure) {\n        // Access the 'systolic' and 'diastolic' values directly\n        var systolic = msg.payload.blood_pressure.systolic;\n        var diastolic = msg.payload.blood_pressure.diastolic;\n\n        // Prepare the data for the chart\n        msg.payload = [\n            {\n                \"series\": [\"Systolic\", \"Diastolic\"], // Series names\n                \"data\": [[systolic], [diastolic]],   // Data points for each series\n                \"labels\": [\"\"]         // X-axis labels\n            }\n        ];\n    } else {\n        // Handle case where 'blood_pressure' is not present\n        msg.payload = \"Blood pressure data is not available\";\n    }\n    return msg;\n} else {\n    // If the topic does not match, return null\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 340,
        "wires": [
            [
                "3ae9d88f6dc33248"
            ]
        ]
    },
    {
        "id": "6ddfe29ab9d4c0aa",
        "type": "ui_toast",
        "z": "6e25c438e6fed382",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "HR alert",
        "x": 1000,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "95dc90d286f67bcb",
        "type": "function",
        "z": "6e25c438e6fed382",
        "name": "HB Check",
        "func": "\nvar hb = msg.payload\n\n\nvar message;\nif (hb > 200) {\n    message = \"Heart beat above the critical threshold, pay attention.\";\n}\n\n// Aggiornamento del messaggio di output\nmsg.payload = message;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 80,
        "wires": [
            [
                "6ddfe29ab9d4c0aa"
            ]
        ]
    },
    {
        "id": "1ea169dfa941e378",
        "type": "function",
        "z": "6e25c438e6fed382",
        "name": "SEV_extr",
        "func": "// Retrieve the flow variable 'player_topic'\nvar player_topic = flow.get('player_topic');\n\n// Ensure payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Check if the current message topic matches the player_topic\nif (msg.topic === player_topic) {\n    // Check if msg.payload is an object and has the 'heart_rate' property\n    if (msg.payload && msg.payload.impact_severity_index.severity_index !== undefined) {\n        // Access the 'heart_rate' value directly\n        msg.payload = msg.payload.impact_severity_index.severity_index;\n    } else {\n        // Handle case where 'heart_rate' is not present\n        msg.payload = \"impact rate data is not available\";\n    }\n    return msg;\n} else {\n    // If the topic does not match, return null\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 180,
        "wires": [
            [
                "96dca993d60c30cb"
            ]
        ]
    },
    {
        "id": "12574728caf98228",
        "type": "ui_toast",
        "z": "6e25c438e6fed382",
        "position": "prompt",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "HR alert",
        "x": 1000,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "96dca993d60c30cb",
        "type": "function",
        "z": "6e25c438e6fed382",
        "name": "SEV Check",
        "func": "var sev = msg.payload\n\nvar message;\nif (sev > 5.3) {\n    message = \"Critical impact, above of critical threshold, pay attention.\";\n    console.log('CRITICAL IMPACT');\n}else{\n    console.log('Continuing execution...');\n}\n\n// Aggiornamento del messaggio di output\nmsg.payload = message;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 40,
        "wires": [
            [
                "12574728caf98228"
            ]
        ]
    },
    {
        "id": "b90ef7de9057ce96",
        "type": "function",
        "z": "6e25c438e6fed382",
        "name": "HEATMAP_exct",
        "func": "// Retrieve the flow variable 'player_topic'\nvar player_topic = flow.get('player_topic');\nvar heatmap_array = [];\n\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\nif (msg.topic === player_topic) {\n    var y = msg.payload.gps.unic;\n\n    for (var i = 0; i < 105 * 65; i++){\n        if (i != y) { heatmap_array.push(0) }\n        else { heatmap_array.push(100); }\n    }\n\n    msg.payload = heatmap_array;\n    return msg;\n} else { return null; }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 460,
        "wires": [
            [
                "0571384b0eb362b2"
            ]
        ]
    },
    {
        "id": "0571384b0eb362b2",
        "type": "ui_heat_map",
        "z": "6e25c438e6fed382",
        "group": "7b0ea4a0077a49e2",
        "order": 7,
        "width": 7,
        "height": 5,
        "name": "",
        "rows": "65",
        "columns": "105",
        "minMax": false,
        "minimumValue": 0,
        "maximumValue": 0,
        "backgroundType": "color",
        "backgroundColor": "#58a43d",
        "image": "never",
        "radius": "35",
        "opacity": "0",
        "blur": "0.65",
        "showValues": false,
        "gridType": "vals",
        "valuesDecimals": 0,
        "showLegend": false,
        "legendType": "none",
        "legendDecimals": 0,
        "legendCount": 2,
        "x": 840,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f867f65e746400a2",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/1/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "c8278c0c7fc97047",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/2/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "15c73aa8854ead8c",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/3/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "af356f4c6379f0a2",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/4/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "bf82d52dfc21584c",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/5/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "bbe66144ecce9a10",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/6/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "8d0c1a61c3ed2325",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/7/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "bf0fdccdfe71935b",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/8/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "02a529075f693a3e",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/9/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "c83e3b37a93b8593",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/10/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "fbc35bd895d18b56",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/11/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "4ba530953388d038",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/12/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "ccc21f6a4876f0df",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/13/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "efbe2c8296d676c5",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/14/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 660,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "934dac7bbce52ba7",
        "type": "mqtt in",
        "z": "effb74aa3070b747",
        "name": "",
        "topic": "rugby/players/15/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 700,
        "wires": [
            [
                "6a178fd617d46343"
            ]
        ]
    },
    {
        "id": "cc26275116c4591e",
        "type": "function",
        "z": "effb74aa3070b747",
        "name": "ALL-HR_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the heartRates object from the flow context\nvar heartRates = flow.get('heartRates') || {};\n\n// Check if msg.payload has the necessary 'player_id' and 'heart_rate' properties\nif (msg.payload && msg.payload.player_id !== undefined && msg.payload.heart_rate && msg.payload.heart_rate.heart_rate !== undefined) {\n    // Extract player ID and heart rate\n    var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n    var heartRate = msg.payload.heart_rate.heart_rate;\n\n    // Update the heart rate for this player in the heartRates object\n    heartRates[playerId] = heartRate;\n\n    // Store the updated heartRates object back into the flow context\n    flow.set('heartRates', heartRates);\n\n    // Prepare the data for the chart\n    var series = Object.keys(heartRates).map(id => [id]); // Create series names\n    var data = Object.values(heartRates).map(hr => [hr]); // Create data points for each player\n\n    // Format the payload for the graph\n    msg.payload = [\n        {\n            \"series\": series,  // Names of the players as series\n            \"data\": data,      // Heart rate values for each player\n            \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n        }\n    ];\n\n    // Return the message to pass the formatted data to the graph\n    return msg;\n} else {\n    // Handle case where the required data is missing\n    node.warn(\"Heart rate data is missing for the player\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "99e55d56df6601ae"
            ]
        ]
    },
    {
        "id": "99e55d56df6601ae",
        "type": "ui_chart",
        "z": "effb74aa3070b747",
        "name": "HR chart",
        "group": "a2e82b8aba30acd6",
        "order": 1,
        "width": 7,
        "height": 7,
        "label": "TEAM - Heart Rate",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "80",
        "ymax": "220",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#4c544a",
            "#d32727",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6a178fd617d46343",
        "type": "json",
        "z": "effb74aa3070b747",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "cc26275116c4591e",
                "2c861a66a7ba4676",
                "671091b8c69088a3",
                "4c4dc7336fd7509e",
                "e87349512b5a93c7",
                "eb06a0f932f1dfcf",
                "ca0e44f9c0957e56"
            ]
        ]
    },
    {
        "id": "e87349512b5a93c7",
        "type": "function",
        "z": "effb74aa3070b747",
        "name": "TIME_extr",
        "func": "// Ensure payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Check if the current message topic matches the player_topic\n    var elapsed_time = msg.payload.elapsed_time;\n    msg.payload = `${elapsed_time} : 00`;\n    return msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 400,
        "wires": [
            [
                "833cc4140a8ceafd"
            ]
        ]
    },
    {
        "id": "d1c3c5382e6c86a6",
        "type": "ui_template",
        "z": "effb74aa3070b747",
        "group": "97f34b737c0b33dd",
        "name": "CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>   \n    .nr-dashboard-cardtitle {\n        font-weight: bold;\n        color: \"blue\";\n        text-align: center;\n    }\n    .custom-dropdown {\n        position: relative;\n        display: inline-block;\n        justify-content: center; /* Center items horizontally */\n    }\n    .custom-role {\n        text-align: left;\n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d705108dc9d0b7ee",
        "type": "ui_chart",
        "z": "effb74aa3070b747",
        "name": "SPD chart",
        "group": "a2e82b8aba30acd6",
        "order": 3,
        "width": 7,
        "height": 7,
        "label": "TEAM - Velocity",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "45",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#91b9ee",
            "#45a54c",
            "#ff7f0e",
            "#4baf8e",
            "#1e7fa9",
            "#d32727",
            "#e2e79d",
            "#9467bd",
            "#6795c1"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2c861a66a7ba4676",
        "type": "function",
        "z": "effb74aa3070b747",
        "name": "ALL-SPEED_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the velocities object from the flow context\nvar velocities = flow.get('velocities') || {};\n\n\n // Check if msg.payload has the necessary 'player_id' and 'velocity' properties\n    if (msg.payload && msg.payload.player_id !== undefined && msg.payload.gps && msg.payload.gps.velocity !== undefined) {\n        // Extract player ID and velocity\n        var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n        var velocity = msg.payload.gps.velocity;\n\n        // Update the velocity for this player in the velocities object\n        velocities[playerId] = velocity;\n\n        // Store the updated velocities object back into the flow context\n        flow.set('velocities', velocities);\n\n        // Prepare the data for the chart\n        var series = Object.keys(velocities).map(id => [id]); // Create series names\n        var data = Object.values(velocities).map(v => [v]); // Create data points for each player\n\n        // Format the payload for the graph\n        msg.payload = [\n            {\n                \"series\": series,  // Names of the players as series\n                \"data\": data,      // Velocity values for each player\n                \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n            }\n        ];\n\n        // Return the message to pass the formatted data to the graph\n        return msg;\n    } else {\n        // Handle case where the required data is missing\n        node.warn(\"Velocity data is missing for the player\");\n        return null;\n    }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "d705108dc9d0b7ee"
            ]
        ]
    },
    {
        "id": "89d86fde1d71fbb2",
        "type": "ui_chart",
        "z": "effb74aa3070b747",
        "name": "CAL chart",
        "group": "a2e82b8aba30acd6",
        "order": 2,
        "width": 7,
        "height": 7,
        "label": "TEAM - Calories",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "step",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#9791ee",
            "#681842",
            "#ca9363",
            "#4baf8e",
            "#58b3da",
            "#d32727",
            "#cad345",
            "#44ab55",
            "#d7c3da"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "671091b8c69088a3",
        "type": "function",
        "z": "effb74aa3070b747",
        "name": "ALL-CAL_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the calories object from the flow context\nvar caloriesData = flow.get('caloriesData') || {};\n\n    // Check if msg.payload has the necessary 'player_id' and 'calories' properties\n    if (msg.payload && msg.payload.player_id !== undefined && msg.payload.calories_consumed && msg.payload.calories_consumed.calories !== undefined) {\n        // Extract player ID and calories\n        var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n        var calories = msg.payload.calories_consumed.calories;\n\n        // Update the calories data for this player in the caloriesData object\n        caloriesData[playerId] = calories;\n\n        // Store the updated caloriesData object back into the flow context\n        flow.set('caloriesData', caloriesData);\n\n        // Prepare the data for the chart\n        var series = Object.keys(caloriesData).map(id => [id]); // Create series names\n        var data = Object.values(caloriesData).map(c => [c]);             // Create data points for each player\n\n        // Format the payload for the graph\n        msg.payload = [\n            {\n                \"series\": series,  // Names of the players as series\n                \"data\": data,      // Calories values for each player\n                \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n            }\n        ];\n\n        // Return the message to pass the formatted data to the graph\n        return msg;\n    } else {\n        // Handle case where the required data is missing\n        node.warn(\"Calories data is missing for the player\");\n        return null;\n    }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 280,
        "wires": [
            [
                "89d86fde1d71fbb2"
            ]
        ]
    },
    {
        "id": "833cc4140a8ceafd",
        "type": "ui_gauge",
        "z": "effb74aa3070b747",
        "name": "",
        "group": "97f34b737c0b33dd",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "donut",
        "title": "Match Time",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "113fd5fe0789c578",
        "type": "ui_chart",
        "z": "effb74aa3070b747",
        "name": "TEMP chart",
        "group": "a2e82b8aba30acd6",
        "order": 4,
        "width": 7,
        "height": 7,
        "label": "TEAM - Temperature",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "36",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e2806f",
            "#cb1515",
            "#968bda",
            "#89d289",
            "#ccd54d",
            "#2845d7",
            "#94ffdf",
            "#f0952d",
            "#c86fa7"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4c4dc7336fd7509e",
        "type": "function",
        "z": "effb74aa3070b747",
        "name": "ALL-TEMP_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the temperatures object from the flow context\nvar temperatures = flow.get('temperatures') || {};\n\n    // Check if msg.payload has the necessary 'player_id' and 'temperature' properties\n    if (msg.payload && msg.payload.player_id !== undefined && msg.payload.temperature && msg.payload.temperature.body_temperature !== undefined) {\n        // Extract player ID and temperature\n        var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n        var temperature = msg.payload.temperature.body_temperature;\n\n        // Update the temperature for this player in the temperatures object\n        temperatures[playerId] = temperature;\n\n        // Store the updated temperatures object back into the flow context\n        flow.set('temperatures', temperatures);\n\n        // Prepare the data for the chart\n        var series = Object.keys(temperatures).map(id => [id]); // Create series names\n        var data = Object.values(temperatures).map(t => [t]);            // Create data points for each player\n\n        // Format the payload for the graph\n        msg.payload = [\n            {\n                \"series\": series,  // Names of the players as series\n                \"data\": data,      // Temperature values for each player\n                \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n            }\n        ];\n\n        // Return the message to pass the formatted data to the graph\n        return msg;\n    } else {\n        // Handle case where the required data is missing\n        node.warn(\"Temperature data is missing for the player\");\n        return null;\n    }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 320,
        "wires": [
            [
                "113fd5fe0789c578"
            ]
        ]
    },
    {
        "id": "eb06a0f932f1dfcf",
        "type": "function",
        "z": "effb74aa3070b747",
        "name": "ALL-SEV_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the severityIndices object from the flow context\nvar severityIndices = flow.get('severityIndices') || {};\n\n    // Check if msg.payload has the necessary 'player_id' and 'impact_severity_index' properties\n    if (msg.payload && msg.payload.player_id !== undefined && msg.payload.impact_severity_index && msg.payload.impact_severity_index.severity_index !== undefined) {\n        // Extract player ID and severity index\n        var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n        var severityIndex = msg.payload.impact_severity_index.severity_index;\n\n        // Update the severity index for this player in the severityIndices object\n        severityIndices[playerId] = severityIndex;\n\n        // Store the updated severityIndices object back into the flow context\n        flow.set('severityIndices', severityIndices);\n\n        // Prepare the data for the chart\n        var series = Object.keys(severityIndices).map(id => [id]); // Create series names\n        var data = Object.values(severityIndices).map(si => [si]);           // Create data points for each player\n\n        // Format the payload for the graph\n        msg.payload = [\n            {\n                \"series\": series,  // Names of the players as series\n                \"data\": data,      // Severity index values for each player\n                \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n            }\n        ];\n\n        // Return the message to pass the formatted data to the graph\n        return msg;\n    } else {\n        // Handle case where the required data is missing\n        node.warn(\"Severity index data is missing for the player\");\n        return null;\n    }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 440,
        "wires": [
            [
                "7acf5c133f381842"
            ]
        ]
    },
    {
        "id": "7acf5c133f381842",
        "type": "ui_chart",
        "z": "effb74aa3070b747",
        "name": "SEV chart",
        "group": "97f34b737c0b33dd",
        "order": 21,
        "width": 5,
        "height": "6",
        "label": "TEAM - Severity INDX",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e2806f",
            "#cb1515",
            "#968bda",
            "#89d289",
            "#ccd54d",
            "#2845d7",
            "#94ffdf",
            "#f0952d",
            "#c86fa7"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ca0e44f9c0957e56",
        "type": "function",
        "z": "effb74aa3070b747",
        "name": "ALL-SEV-COUNT_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the impactCounts object from the flow context\nvar impactCounts = flow.get('impactCounts') || {};\n\n// Check if msg.payload has the necessary 'player_id' and 'impacts' properties\nif (msg.payload && msg.payload.player_id !== undefined && msg.payload.impacts && msg.payload.impacts.impact_count !== undefined) {\n    // Extract player ID and impact count\n    var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n    var impactCount = msg.payload.impacts.impact_count;\n\n    // Update the impact count for this player in the impactCounts object\n    impactCounts[playerId] = impactCount;\n\n    // Store the updated impactCounts object back into the flow context\n    flow.set('impactCounts', impactCounts);\n\n    // Prepare the data for the chart\n    var series = Object.keys(impactCounts).map(id => [id]); // Create series names\n    var data = Object.values(impactCounts).map(ic => [ic]);           // Create data points for each player\n\n    // Format the payload for the graph\n    msg.payload = [\n        {\n            \"series\": series,  // Names of the players as series\n            \"data\": data,      // Impact count values for each player\n            \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n        }\n    ];\n\n    // Return the message to pass the formatted data to the graph\n    return msg;\n} else {\n    // Handle case where the required data is missing\n    node.warn(\"Impact count data is missing for the player\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 480,
        "wires": [
            [
                "65639ea1c617c6fc"
            ]
        ]
    },
    {
        "id": "65639ea1c617c6fc",
        "type": "ui_chart",
        "z": "effb74aa3070b747",
        "name": "SEV-COUNT chart",
        "group": "97f34b737c0b33dd",
        "order": 10,
        "width": 5,
        "height": 5,
        "label": "TEAM - Impact COUNT",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b4e26f",
            "#158ecb",
            "#da8bb5",
            "#bf89d2",
            "#504dd5",
            "#d72828",
            "#fff694",
            "#f0952d",
            "#6fc8c2"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e939dca579f183eb",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/1/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "11e63f852717fdec",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/2/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "831bdf55da2f7ef7",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/3/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "0f222bbfd04846ea",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/4/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "7cdb09226886a264",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/5/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "d0ba978fe6b26d7a",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/6/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "0df6c8cd5a91eabb",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/7/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "559c93010c87ea72",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/8/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 400,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "f71dbb4089d746e5",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/9/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "35072c7f7e6744db",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/10/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "8be5f280adfd4644",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/11/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 520,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "8f14388b724aeba1",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/12/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "987e66da09490381",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/13/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "94d50d2136d7cac4",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/14/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "ae98061408593f81",
        "type": "mqtt in",
        "z": "acbb8b19f36933fc",
        "name": "",
        "topic": "rugby/players/15/realtime/metrics",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654adbefc93338fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 680,
        "wires": [
            [
                "efeffd574eb662d5"
            ]
        ]
    },
    {
        "id": "efeffd574eb662d5",
        "type": "json",
        "z": "acbb8b19f36933fc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "c5c1c36acf9e173b",
                "74141e2021f296dd",
                "c0bef20e16d1f8db",
                "ce13747852b67acf",
                "da2ce1329675a617",
                "08ae540b66c08abd",
                "61da415c99a457e8"
            ]
        ]
    },
    {
        "id": "3cdc82b06f6ea1c8",
        "type": "ui_chart",
        "z": "acbb8b19f36933fc",
        "name": "AVG_SPEED",
        "group": "914464c7227e1a69",
        "order": 1,
        "width": 7,
        "height": 5,
        "label": "TEAM - AVG SPEED",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c5c1c36acf9e173b",
        "type": "function",
        "z": "acbb8b19f36933fc",
        "name": "AVG_SPEED_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the heartRates object from the flow context\nvar avg_speed = flow.get('AVG_SPEED') || {};\n\n// Check if msg.payload has the necessary 'player_id' and 'heart_rate' properties\nif (msg.payload && msg.payload.player_id !== undefined) {\n    // Extract player ID and heart rate\n    var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n    var avg_s = msg.payload.average_velocity;\n\n    // Update the heart rate for this player in the heartRates object\n    avg_speed[playerId] = avg_s;\n\n    // Store the updated heartRates object back into the flow context\n    flow.set('AVG_SPEED', avg_speed);\n\n    // Prepare the data for the chart\n    var series = Object.keys(avg_speed).map(id => [id]); // Create series names\n    var data = Object.values(avg_speed).map(as => [as]); // Create data points for each player\n\n    // Format the payload for the graph\n    msg.payload = [\n        {\n            \"series\": series,  // Names of the players as series\n            \"data\": data,      // Heart rate values for each player\n            \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n        }\n    ];\n\n    // Return the message to pass the formatted data to the graph\n    return msg;\n} else {\n    // Handle case where the required data is missing\n    node.warn(\"Heart rate data is missing for the player\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 180,
        "wires": [
            [
                "3cdc82b06f6ea1c8"
            ]
        ]
    },
    {
        "id": "68d719f3384e0867",
        "type": "ui_template",
        "z": "acbb8b19f36933fc",
        "group": "914464c7227e1a69",
        "name": "CSS",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<style>   \n    .nr-dashboard-cardtitle {\n        font-weight: bold;\n        color: \"blue\";\n        text-align: center;\n    }\n    .custom-dropdown {\n        position: relative;\n        display: inline-block;\n        justify-content: center; /* Center items horizontally */\n    }\n    .custom-role {\n        text-align: left;\n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ef4202ee8fd985c9",
        "type": "ui_chart",
        "z": "acbb8b19f36933fc",
        "name": "TOT_KM",
        "group": "914464c7227e1a69",
        "order": 2,
        "width": 7,
        "height": 5,
        "label": "TEAM - TOTAL DISTANCE",
        "chartType": "horizontalBar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "74141e2021f296dd",
        "type": "function",
        "z": "acbb8b19f36933fc",
        "name": "TOT_KM_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the heartRates object from the flow context\nvar tot_km = flow.get('TOTAL_KM') || {};\n\n// Check if msg.payload has the necessary 'player_id' and 'heart_rate' properties\nif (msg.payload && msg.payload.player_id !== undefined) {\n    // Extract player ID and heart rate\n    var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n    var t_km = msg.payload.distance_traveled_km;\n\n    // Update the heart rate for this player in the heartRates object\n    tot_km[playerId] = t_km;\n\n    // Store the updated heartRates object back into the flow context\n    flow.set('TOTAL_KM', tot_km);\n\n    // Prepare the data for the chart\n    var series = Object.keys(tot_km).map(id => [id]); // Create series names\n    var data = Object.values(tot_km).map(km => [km]); // Create data points for each player\n\n    // Format the payload for the graph\n    msg.payload = [\n        {\n            \"series\": series,  // Names of the players as series\n            \"data\": data,      // Heart rate values for each player\n            \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n        }\n    ];\n\n    // Return the message to pass the formatted data to the graph\n    return msg;\n} else {\n    // Handle case where the required data is missing\n    node.warn(\"Heart rate data is missing for the player\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 220,
        "wires": [
            [
                "ef4202ee8fd985c9"
            ]
        ]
    },
    {
        "id": "91993287dcc7ceae",
        "type": "ui_chart",
        "z": "acbb8b19f36933fc",
        "name": "AVG_CAL",
        "group": "914464c7227e1a69",
        "order": 4,
        "width": 7,
        "height": 5,
        "label": "TEAM - AVG CALORIES",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c0bef20e16d1f8db",
        "type": "function",
        "z": "acbb8b19f36933fc",
        "name": "AVG_CAL_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the heartRates object from the flow context\nvar tot_cal = flow.get('TOTAL_CAL') || {};\n\n// Check if msg.payload has the necessary 'player_id' and 'heart_rate' properties\nif (msg.payload && msg.payload.player_id !== undefined) {\n    // Extract player ID and heart rate\n    var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n    var cal = msg.payload.calories_consumed;\n\n    // Update the heart rate for this player in the heartRates object\n    tot_cal[playerId] = cal;\n\n    // Store the updated heartRates object back into the flow context\n    flow.set('TOTAL_CAL', tot_cal);\n\n    // Prepare the data for the chart\n    var series = Object.keys(tot_cal).map(id => [id]); // Create series names\n    var data = Object.values(tot_cal).map(cl => [cl]); // Create data points for each player\n\n    // Format the payload for the graph\n    msg.payload = [\n        {\n            \"series\": series,  // Names of the players as series\n            \"data\": data,      // Heart rate values for each player\n            \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n        }\n    ];\n\n    // Return the message to pass the formatted data to the graph\n    return msg;\n} else {\n    // Handle case where the required data is missing\n    node.warn(\"Heart rate data is missing for the player\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "91993287dcc7ceae"
            ]
        ]
    },
    {
        "id": "4a5e5cc38a492372",
        "type": "ui_chart",
        "z": "acbb8b19f36933fc",
        "name": "AVG_IMP",
        "group": "914464c7227e1a69",
        "order": 5,
        "width": 7,
        "height": 5,
        "label": "TEAM - AVG IMPACT FORCE",
        "chartType": "horizontalBar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ce13747852b67acf",
        "type": "function",
        "z": "acbb8b19f36933fc",
        "name": "AVG_IMP_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the heartRates object from the flow context\nvar avg_impact = flow.get('IMPACT') || {};\n\n// Check if msg.payload has the necessary 'player_id' and 'heart_rate' properties\nif (msg.payload && msg.payload.player_id !== undefined) {\n    // Extract player ID and heart rate\n    var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n    var imp = msg.payload.impacts.average_impact_force;\n\n    // Update the heart rate for this player in the heartRates object\n    avg_impact[playerId] = imp;\n\n    // Store the updated heartRates object back into the flow context\n    flow.set('IMPACT', avg_impact);\n\n    // Prepare the data for the chart\n    var series = Object.keys(avg_impact).map(id => [id]); // Create series names\n    var data = Object.values(avg_impact).map(im => [im]); // Create data points for each player\n\n    // Format the payload for the graph\n    msg.payload = [\n        {\n            \"series\": series,  // Names of the players as series\n            \"data\": data,      // Heart rate values for each player\n            \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n        }\n    ];\n\n    // Return the message to pass the formatted data to the graph\n    return msg;\n} else {\n    // Handle case where the required data is missing\n    node.warn(\"Heart rate data is missing for the player\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 300,
        "wires": [
            [
                "4a5e5cc38a492372"
            ]
        ]
    },
    {
        "id": "5dff2918219aeadb",
        "type": "ui_chart",
        "z": "acbb8b19f36933fc",
        "name": "IMP_RATIO",
        "group": "914464c7227e1a69",
        "order": 6,
        "width": 7,
        "height": 5,
        "label": "TEAM - IMPACT RATIO",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "61da415c99a457e8",
        "type": "function",
        "z": "acbb8b19f36933fc",
        "name": "IMP_RATIO_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the heartRates object from the flow context\nvar imp_to_play = flow.get('RATIO') || {};\n\n// Check if msg.payload has the necessary 'player_id' and 'heart_rate' properties\nif (msg.payload && msg.payload.player_id !== undefined) {\n    // Extract player ID and heart rate\n    var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n    var imp = msg.payload.impact_to_play_ratio;\n\n    // Update the heart rate for this player in the heartRates object\n    imp_to_play[playerId] = imp;\n\n    // Store the updated heartRates object back into the flow context\n    flow.set('RATIO', imp_to_play);\n\n    // Prepare the data for the chart\n    var series = Object.keys(imp_to_play).map(id => [id]); // Create series names\n    var data = Object.values(imp_to_play).map(im => [im]); // Create data points for each player\n\n    // Format the payload for the graph\n    msg.payload = [\n        {\n            \"series\": series,  // Names of the players as series\n            \"data\": data,      // Heart rate values for each player\n            \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n        }\n    ];\n\n    // Return the message to pass the formatted data to the graph\n    return msg;\n} else {\n    // Handle case where the required data is missing\n    node.warn(\"Heart rate data is missing for the player\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            [
                "5dff2918219aeadb"
            ]
        ]
    },
    {
        "id": "955854a5b2dbb0a3",
        "type": "ui_chart",
        "z": "acbb8b19f36933fc",
        "name": "SPD_RATIO",
        "group": "914464c7227e1a69",
        "order": 3,
        "width": 7,
        "height": 5,
        "label": "TEAM - SPD VARIABILITY",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for data",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "da2ce1329675a617",
        "type": "function",
        "z": "acbb8b19f36933fc",
        "name": "SPD_RATIO_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the heartRates object from the flow context\nvar spd_ratio = flow.get('SPEED') || {};\n\n// Check if msg.payload has the necessary 'player_id' and 'heart_rate' properties\nif (msg.payload && msg.payload.player_id !== undefined) {\n    // Extract player ID and heart rate\n    var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n    var spd = msg.payload.velocity_variability;\n\n    // Update the heart rate for this player in the heartRates object\n    spd_ratio[playerId] = spd;\n\n    // Store the updated heartRates object back into the flow context\n    flow.set('SPEED', spd_ratio);\n\n    // Prepare the data for the chart\n    var series = Object.keys(spd_ratio).map(id => [id]); // Create series names\n    var data = Object.values(spd_ratio).map(sp => [sp]); // Create data points for each player\n\n    // Format the payload for the graph\n    msg.payload = [\n        {\n            \"series\": series,  // Names of the players as series\n            \"data\": data,      // Heart rate values for each player\n            \"labels\": [\"\"]     // X-axis labels (e.g., time stamps can be added if needed)\n        }\n    ];\n\n    // Return the message to pass the formatted data to the graph\n    return msg;\n} else {\n    // Handle case where the required data is missing\n    node.warn(\"Heart rate data is missing for the player\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 440,
        "wires": [
            [
                "955854a5b2dbb0a3"
            ]
        ]
    },
    {
        "id": "08ae540b66c08abd",
        "type": "function",
        "z": "acbb8b19f36933fc",
        "name": "MAX_IMP_extr",
        "func": "// Ensure the payload is a JSON object\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Failed to parse JSON\", e);\n        return null;\n    }\n}\n\n// Retrieve or initialize the impact object from the flow context\nvar impact = flow.get('impact') || {};\nvar maxImpact = flow.get('MAX_impact') || -Infinity; // Initialize with a very low number\nvar maxImpactPlayer = flow.get('MAX_impact_player') || \"\"; // Initialize with empty string\n\n// Check if msg.payload has the necessary 'player_id' and 'impact_severity_index' properties\nif (msg.payload && msg.payload.player_id !== undefined) {\n    // Extract player ID and impact severity index\n    var playerId = msg.payload.player_id.toString(); // Convert player ID to string for consistency\n    var imp = msg.payload.impact_severity_index;\n\n    // Update the impact for this player in the impact object\n    impact[playerId] = imp;\n\n    // Store the updated impact object back into the flow context\n    flow.set('impact', impact);\n\n    // Check if the current impact severity index is higher than the current max\n    if (imp > maxImpact) {\n        maxImpact = imp;\n        maxImpactPlayer = playerId; // Update the player ID with the maximum impact\n        flow.set('MAX_impact', maxImpact); // Update the max impact in the flow context\n        flow.set('MAX_impact_player', maxImpactPlayer); // Update the player with the max impact\n    }\n}\n\n// Prepare the output message with the player having the maximum impact severity index\nmsg.payload = {\n    player_id: maxImpactPlayer,\n    impact_severity_index: maxImpact\n};\n\nflow.set('impact', {});\nflow.set('MAX_impact', -Infinity);\nflow.set('MAX_impact_player', \"\");\n\n// Return the message with the player having the highest impact severity index\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 500,
        "wires": [
            [
                "0970b175e6972627",
                "4358c672dc612193"
            ]
        ]
    },
    {
        "id": "0970b175e6972627",
        "type": "ui_text",
        "z": "acbb8b19f36933fc",
        "group": "4b55eb95bc7cccf8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Severity",
        "format": "{{msg.payload.impact_severity_index}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "16",
        "color": "#e72323",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "4358c672dc612193",
        "type": "ui_text",
        "z": "acbb8b19f36933fc",
        "group": "4b55eb95bc7cccf8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Player",
        "format": "{{msg.payload.player_id}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "22",
        "color": "#000000",
        "x": 880,
        "y": 560,
        "wires": []
    }
]